meta(name='description', content=meta.description)

// Facebook
meta(property='og:title', content=meta.facebook.title)
meta(property='og:description', content=meta.facebook.description)
meta(property='og:site_name', content=site.name)
meta(property='og:url', content=site.url)
meta(property='og:type', content='product')
meta(property='og:locale', content='en_US')
meta(property='og:image', content=meta.facebook.image)
meta(property='fb:app_id', content=meta.facebook.appid)

// Twitter
meta(name='twitter:title', content=meta.twitter.title)
meta(name='twitter:description', content=meta.twitter.description)
meta(name='twitter:card', content='summary')
meta(name='twitter:site', content=social.twitter.username)
meta(name='twitter:image', content=meta.twitter.image)
meta(name='twitter:url', content=site.url)

link(rel='apple-touch-icon-precomposed',sizes='57x57',href='icon/apple-touch-icon-57x57.png')
link(rel='apple-touch-icon-precomposed',sizes='114x114',href='icon/apple-touch-icon-114x114.png')
link(rel='apple-touch-icon-precomposed',sizes='72x72',href='icon/apple-touch-icon-72x72.png')
link(rel='apple-touch-icon-precomposed',sizes='144x144',href='icon/apple-touch-icon-144x144.png')
link(rel='apple-touch-icon-precomposed',sizes='60x60',href='icon/apple-touch-icon-60x60.png')
link(rel='apple-touch-icon-precomposed',sizes='120x120',href='icon/apple-touch-icon-120x120.png')
link(rel='apple-touch-icon-precomposed',sizes='76x76',href='icon/apple-touch-icon-76x76.png')
link(rel='apple-touch-icon-precomposed',sizes='152x152',href='icon/apple-touch-icon-152x152.png')
link(rel='icon',type='image/png',href='icon/favicon-196x196.png',sizes='196x196')
link(rel='icon',type='image/png',href='icon/favicon-96x96.png',sizes='96x96')
link(rel='icon',type='image/png',href='icon/favicon-32x32.png',sizes='32x32')
link(rel='icon',type='image/png',href='icon/favicon-16x16.png',sizes='16x16')
link(rel='icon',type='image/png',href='icon/favicon-128.png',sizes='128x128')

meta(name='application-name',content='&nbsp;')
meta(name='msapplication-TileColor',content='#FFFFFF')
meta(name='msapplication-TileImage',content='icon/mstile-144x144.png')
meta(name='msapplication-square70x70logo',content='icon/mstile-70x70.png')
meta(name='msapplication-square150x150logo',content='icon/mstile-150x150.png')
meta(name='msapplication-wide310x150logo',content='icon/mstile-310x150.png')
meta(name='msapplication-square310x310logo',content='icon/mstile-310x310.png')

link(rel='stylesheet', href='css/app.css', type='text/css')
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', type='text/css')
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,600')

link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", href="/favicon-32x32.png", sizes="32x32")
link(rel="icon", type="image/png", href="/favicon-16x16.png", sizes="16x16")
link(rel="manifest", href="/manifest.json")
link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#33edc1")
meta(name="theme-color", content="#ffffff")

