doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(name='msapplication-tap-highlight' content='no')

    include /astley.js/src/templates/head.pug

    title
      block title
        | #{site.title}

    block style

    block headscript
    <!--[if lt IE 10]>
    script(src='/js/polyfill/html5-shiv.js')
    <![endif]-->

  body
    //(style='overflow:hidden')
    // Header
    block preheader
    header
      - {
      -   let item = data[0]
      include _header.pug
      - }

    main
      block content

    footer
      include _footer.pug

    <!--[if IE]>
    .browserupgrade
    p
      | You are using an strong outdated  browser. Please
      | a(href='http://browsehappy.com/') upgrade your browser to improve
      | your experience and security.
    <![endif]-->

    <!--[if lt IE 10]>
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-1.12.4.min.js"><\\/script>')
    script(src='/js/polyfill/ie-love.js')
    <![endif]-->

    <!--[if gt IE 9]><!-->
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script.
      window.jQuery || document.write('<script src="/js/vendor/jquery-3.1.0.min.js"><\\/script>')
    <!--<![endif]-->

    block script

    script(src='/js/app.js')

    if production
      script.
        !function(t,e,a){var
        r,n,c,i,o,s,l,u;if(null==t.analytics){for(r=[],r.methods=["ab","alias","group","identify","off","on","once","page","pageview","ready","track","trackClick","trackForm","trackLink","trackSubmit"],l=r.methods,c=function(t){r[t]=function(){var
        e;return
        e=Array.prototype.slice.call(arguments),e.unshift(t),r.push(e),r}},i=0,o=l.length;o>i;i++)s=l[i],c(s);return
        u=e.createElement("script"),u.async=!0,u.type="text/javascript",u.src=a,n=e.getElementsByTagName("script")[0],n.parentNode.insertBefore(u,n),t.analytics=r}}(window,document,"//cdn.hanzo.io/a/hanzo.js");
      // script.
      //   !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
      //   },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
      //   a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
      //   twq('init','nvqog');
      //   twq('track','PageView');
      // script(src='//cdn.ravenjs.com/3.8.1/raven.min.js')
      // script.
      //   Raven.config('//837350fb355a433ca68a1f6a298e70af@sentry.io/116363').install()


